*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
.idea/sonarlint/issuestore/0/7/0712df971a99ac4d2fccb8e0fb19f377f3374cca
.idea/sonarlint/issuestore/7/4/744d8d411b92fb56dfba25c4da3db7d7efaeb680
.idea/sonarlint/issuestore/b/0/b0f8e0f5252187386c1a1fb6b2f67a466b1103fa
.idea/workspace.xml
